  <form action="/answer" data-turbo="false">
  <input type="text" name="question" class="p-2 rounded-pill col-md-6 border-info">
  <input type="submit" value="Ask!" class="p-3 btn btn-info rounded-pill" >
</form>
